root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{razor,cshtml}]
indent_size = 4

[*.{json,yml,yaml}]
indent_size = 2

[*.{css,scss}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Organizzazione using
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Stile qualificazione
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Preferenze var
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Nuova riga
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
