@namespace NeoBrutalism.Blazor
@* Neo Brutalism Card Description *@

<div class="nb-card__description">@ChildContent</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
