<nav class="docs-sidebar">
    <div class="docs-sidebar__section">
        <div class="docs-sidebar__label">Getting started</div>
        <NavLink class="docs-sidebar__link" href="" Match="NavLinkMatch.All">Introduction</NavLink>
        <NavLink class="docs-sidebar__link" href="getting-started">Installation</NavLink>
        <NavLink class="docs-sidebar__link" href="theming">Theming</NavLink>
    </div>

    <div class="docs-sidebar__section">
        <div class="docs-sidebar__label">Layout</div>
        <NavLink class="docs-sidebar__link" href="components/card">Card</NavLink>
        <NavLink class="docs-sidebar__link" href="components/carousel">Carousel</NavLink>
        <NavLink class="docs-sidebar__link" href="components/drawer">Drawer</NavLink>
        <NavLink class="docs-sidebar__link" href="components/dialog">Dialog</NavLink>
        <NavLink class="docs-sidebar__link" href="components/image-card">Image Card</NavLink>
        <NavLink class="docs-sidebar__link" href="components/sidebar">Sidebar</NavLink>
    </div>

    <div class="docs-sidebar__section">
        <div class="docs-sidebar__label">Forms</div>
        <NavLink class="docs-sidebar__link" href="components/calendar">Calendar</NavLink>
        <NavLink class="docs-sidebar__link" href="components/checkbox">Checkbox</NavLink>
        <NavLink class="docs-sidebar__link" href="components/combobox">ComboBox</NavLink>
        <NavLink class="docs-sidebar__link" href="components/date-picker">Date Picker</NavLink>
        <NavLink class="docs-sidebar__link" href="components/input">Input</NavLink>
        <NavLink class="docs-sidebar__link" href="components/input-otp">Input OTP</NavLink>
        <NavLink class="docs-sidebar__link" href="components/radio-group">Radio Group</NavLink>
        <NavLink class="docs-sidebar__link" href="components/select">Select</NavLink>
        <NavLink class="docs-sidebar__link" href="components/slider">Slider</NavLink>
        <NavLink class="docs-sidebar__link" href="components/switch">Switch</NavLink>
        <NavLink class="docs-sidebar__link" href="components/textarea">TextArea</NavLink>
    </div>

    <div class="docs-sidebar__section">
        <div class="docs-sidebar__label">Components</div>
        <NavLink class="docs-sidebar__link" href="components/accordion">Accordion</NavLink>
        <NavLink class="docs-sidebar__link" href="components/alert">Alert</NavLink>
        <NavLink class="docs-sidebar__link" href="components/alert-dialog">Alert Dialog</NavLink>
        <NavLink class="docs-sidebar__link" href="components/avatar">Avatar</NavLink>
        <NavLink class="docs-sidebar__link" href="components/badge">Badge</NavLink>
        <NavLink class="docs-sidebar__link" href="components/breadcrumb">Breadcrumb</NavLink>
        <NavLink class="docs-sidebar__link" href="components/button">Button</NavLink>
        <NavLink class="docs-sidebar__link" href="components/command">Command</NavLink>
        <NavLink class="docs-sidebar__link" href="components/context-menu">Context Menu</NavLink>
        <NavLink class="docs-sidebar__link" href="components/data-table">Data Table</NavLink>
        <NavLink class="docs-sidebar__link" href="components/marquee">Marquee</NavLink>
        <NavLink class="docs-sidebar__link" href="components/menubar">Menu Bar</NavLink>
        <NavLink class="docs-sidebar__link" href="components/navigation-menu">Navigation Menu</NavLink>
        <NavLink class="docs-sidebar__link" href="components/pagination">Pagination</NavLink>
        <NavLink class="docs-sidebar__link" href="components/popover">Popover</NavLink>
        <NavLink class="docs-sidebar__link" href="components/progress">Progress</NavLink>
        <NavLink class="docs-sidebar__link" href="components/skeleton">Skeleton</NavLink>
        <NavLink class="docs-sidebar__link" href="components/sonner">Sonner</NavLink>
        <NavLink class="docs-sidebar__link" href="components/table">Table</NavLink>
        <NavLink class="docs-sidebar__link" href="components/tabs">Tabs</NavLink>
        <NavLink class="docs-sidebar__link" href="components/tooltip">Tooltip</NavLink>
    </div>

    <div class="docs-sidebar__section">
        <div class="docs-sidebar__label">Typography</div>
        <NavLink class="docs-sidebar__link" href="components/heading">Heading</NavLink>
        <NavLink class="docs-sidebar__link" href="components/label">Label</NavLink>
        <NavLink class="docs-sidebar__link" href="components/title">Title</NavLink>
    </div>
</nav>

