@namespace NeoBrutalism.Blazor
@* Menu Bar Label *@

<div class="nb-menubar__label" role="presentation">@ChildContent</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
